* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

body {
    overflow-x: hidden;
}

html {
    overflow-y: scroll;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    height: 200vh;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: radial-gradient(circle, rgb(212, 206, 221) 0%, rgb(78, 65, 139) 30%, rgb(45, 32, 104) 50%, rgb(19, 3, 39) 100%);
    background-size: cover;
    background-position: center;
}

.moon {
    position: fixed;
    width: 75vw;
    height: 75vw;
    max-width: 75vh;
    max-height: 75vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    background-image: radial-gradient(circle at 50% 50%, rgba(255, 228, 196, 0.8) 0%, rgba(255, 228, 196, 0.6) 25%, rgba(255, 228, 196, 0.4) 50%, rgba(255, 228, 196, 0.2) 75%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 50%; /* Make the div circular */
}

#newLayer {
    z-index: 2;
    left: 5vw;
    width: 70vw;
    max-height: 70vh;
    bottom: -2vh;
}

.zerocorp {
    position: fixed;
    width: 65vw;
    height: 65vw;
    max-width: 65vh;
    max-height: 65vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.15;
    z-index: 1;
}

.cave {
    position: fixed;
    z-index: 4;
    bottom: -110vh; /* 90% from the top */
    width: 100%;
    height: 120vh;
}

.building {
    position: fixed;
    bottom: 5vh;
}

#immeubleC {
    left: 30vw;
    z-index: 2;
    width: 35vw;
    max-height: 90vh;
}

#immeubleD {
    right: 20vw;
    width: 24vw;
    max-height: 90vh;
    z-index: 2;
}

#immeubleA {
    left: 18vw;
    width: 20vw;
    z-index: 3;
}

#immeubleB {
    right: 12vw;
    width: 40vw;
    max-height: 65vh;
    z-index: 3;
}

.cables {
    position: fixed;
    right: -50vw;
    top: 0;
    z-index: 5;
    width: 50vw;
    justify-content: center;
}

.button-image-wrapper {
    position: absolute;
    top: 150vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ordi {
    position: relative;
    z-index: 7;
    width: 100vw;
}

.hidden {
    display: none;
}

#youtube-button {
    position: absolute;
    z-index: 8;
}

#youtube-button button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

#youtube-button img {
    bottom: 12vh;
    width: 15vw; /* Adjust this value according to your desired button size */
}

#youtube-button img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.contact-link {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    font-family: Verdana;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    z-index: 6;
}

.contact-link:hover {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

.floating-title {
    position: fixed;
    right: 15vw;
    top: 8vh;
    font-size: 2rem;
    z-index: 3;
    opacity: 1;
    font-family: Verdana; /* Choose your preferred font */
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.zerocorp,
#newLayer,
#immeubleA,
#immeubleC,
#immeubleB,
#immeubleD,
.floating-title,
.cave,
.cables {
    will-change: transform, opacity, left, right, bottom;
}

.custom-element {
    position: fixed;
    width: 15vw;
    z-index: 4;
    bottom: 8vh;
    left: 50vw;
    transform-origin: right center; /* Add this line to move the transformation point */
    transform: translateX(-50%);
    will-change: transform, top;
}

@media (max-width: 767px) {

    .cave {
        content: url('cave-mobile.png');
        bottom: -110%; /* 90% from the top */
    }

    #immeubleA, #immeubleC, #immeubleD {
        width: 30vw;
        bottom: 8vh;
    }

    #immeubleC {
        width: 70vw;
        left: 7vw;
    }
    #immeubleA {
        width: 30vw;
        left: 23vw;
    }

    #immeubleD {
        right: 18vw;
    }

    #immeubleB {
        right: 10vw;
        bottom: 7vh;
        width: 38vw;
        height: auto;
    }

    #newLayer {
        bottom: 7vh;
        width: 70vw;
        right: 5vw;
    }

}
